# [Data_Users]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Data_Users]    Script Date: 2022/12/24 下午 02:21:27 ******/
CREATE DATABASE [Data_Users]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Data_Users', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Data_Users.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Data_Users_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Data_Users_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [Data_Users] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Data_Users].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Data_Users] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Data_Users] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Data_Users] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Data_Users] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Data_Users] SET ARITHABORT OFF 
GO
ALTER DATABASE [Data_Users] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Data_Users] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Data_Users] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Data_Users] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Data_Users] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Data_Users] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Data_Users] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Data_Users] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Data_Users] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Data_Users] SET  DISABLE_BROKER 
GO
ALTER DATABASE [Data_Users] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Data_Users] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Data_Users] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Data_Users] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Data_Users] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Data_Users] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Data_Users] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Data_Users] SET RECOVERY FULL 
GO
ALTER DATABASE [Data_Users] SET  MULTI_USER 
GO
ALTER DATABASE [Data_Users] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Data_Users] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Data_Users] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Data_Users] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Data_Users] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Data_Users] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'Data_Users', N'ON'
GO
ALTER DATABASE [Data_Users] SET QUERY_STORE = OFF
GO

# [hw0]

In [0]:
USE [Data_Users]
GO

In [0]:
/****** Object:  User [hw0]    Script Date: 2022/12/24 下午 02:21:27 ******/
CREATE USER [hw0] FOR LOGIN [hw0] WITH DEFAULT_SCHEMA=[dbo]
GO

In [0]:
ALTER ROLE [db_owner] ADD MEMBER [hw0]
GO

# [dbo].[Data_Teacher]

In [0]:
/****** Object:  Table [dbo].[Data_Teacher]    Script Date: 2022/12/24 下午 02:21:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data_Teacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Major_Subject] [nvarchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Price_Per_Hour] [int] NOT NULL,
 CONSTRAINT [PK__Data_Tea__3214EC0751324545] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Employee]

In [0]:
/****** Object:  Table [dbo].[Employee]    Script Date: 2022/12/24 下午 02:21:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[gMail] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Major] [nvarchar](50) NOT NULL,
	[Depertment] [nvarchar](50) NOT NULL,
	[PhoneNo] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[SubjectCategoryName]

In [0]:
/****** Object:  Table [dbo].[SubjectCategoryName]    Script Date: 2022/12/24 下午 02:21:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectCategoryName](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK__SubjectC__3214EC07C5B32D2E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Users]

In [0]:
/****** Object:  Table [dbo].[Users]    Script Date: 2022/12/24 下午 02:21:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Users__3214EC07BF8412BE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Data_Teacher]

In [0]:
SET IDENTITY_INSERT [dbo].[Data_Teacher] ON 
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (1, N'微積分', 1, 700)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (2, N'物理', 1, 600)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (3, N'動畫設計', 2, 600)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (4, N'程式設計', 2, 900)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (5, N'鋼琴', 3, 900)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (6, N'長笛', 3, 500)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (7, N'化學', 1, 600)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (8, N'化工', 1, 700)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (9, N'理化', 1, 700)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (10, N'資料結構', 2, 800)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (11, N'電腦操作', 2, 600)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (12, N'建築設計', 2, 900)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (13, N'唱歌', 3, 500)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (14, N'吉他', 3, 600)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (15, N'烏克麗麗', 3, 600)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (16, N'國小伴讀', 4, 500)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (17, N'國中伴讀', 4, 600)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (18, N'高中伴讀', 4, 700)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (19, N'攝影', 5, 700)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (20, N'美容美髮', 1, 700)
INSERT [dbo].[Data_Teacher] ([Id], [Major_Subject], [CategoryId], [Price_Per_Hour]) VALUES (21, N'美容美髮', 5, 600)
SET IDENTITY_INSERT [dbo].[Data_Teacher] OFF
GO

# [dbo].[Employee]

In [0]:
SET IDENTITY_INSERT [dbo].[Employee] ON 
INSERT [dbo].[Employee] ([Id], [FName], [gMail], [Gender], [DateOfBirth], [Major], [Depertment], [PhoneNo], [Image]) VALUES (2, N'Liam', N'Laim.male@gmail.com', N'Male', CAST(N'1944-06-13T00:00:00.000' AS DateTime), N'微積分', N'數理', N'0987876580', N'F80832-0006.jpg')
INSERT [dbo].[Employee] ([Id], [FName], [gMail], [Gender], [DateOfBirth], [Major], [Depertment], [PhoneNo], [Image]) VALUES (3, N'Emma', N'Ema.oo@gmail.com', N'Female', CAST(N'1999-07-15T00:00:00.000' AS DateTime), N'鋼琴', N'音樂', N'0987400939', N'F80832-0028.jpg')
INSERT [dbo].[Employee] ([Id], [FName], [gMail], [Gender], [DateOfBirth], [Major], [Depertment], [PhoneNo], [Image]) VALUES (4, N'Noa', N'Noa.iuiu@gmail.com', N'Male', CAST(N'1955-07-11T00:00:00.000' AS DateTime), N'程式設計', N'電腦', N'0978786398', N'F80832-0014.jpg')
INSERT [dbo].[Employee] ([Id], [FName], [gMail], [Gender], [DateOfBirth], [Major], [Depertment], [PhoneNo], [Image]) VALUES (5, N'Olivia', N'Olivia.pop@gmail.com', N'Female', CAST(N'1991-05-09T00:00:00.000' AS DateTime), N'囯中伴讀', N'伴讀', N'0988786232', N'F80832-0087.jpg')
INSERT [dbo].[Employee] ([Id], [FName], [gMail], [Gender], [DateOfBirth], [Major], [Depertment], [PhoneNo], [Image]) VALUES (6, N'William', N'William.will@gmail.com', N'Male', CAST(N'2000-12-16T00:00:00.000' AS DateTime), N'攝影', N'才藝', N'0989897697', N'F80832-0125.jpg')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO

# [dbo].[SubjectCategoryName]

In [0]:
SET IDENTITY_INSERT [dbo].[SubjectCategoryName] ON 
INSERT [dbo].[SubjectCategoryName] ([Id], [CategoryName], [DisplayOrder]) VALUES (1, N'數理', 1)
INSERT [dbo].[SubjectCategoryName] ([Id], [CategoryName], [DisplayOrder]) VALUES (2, N'電腦', 2)
INSERT [dbo].[SubjectCategoryName] ([Id], [CategoryName], [DisplayOrder]) VALUES (3, N'音樂', 3)
INSERT [dbo].[SubjectCategoryName] ([Id], [CategoryName], [DisplayOrder]) VALUES (4, N'伴讀', 4)
INSERT [dbo].[SubjectCategoryName] ([Id], [CategoryName], [DisplayOrder]) VALUES (5, N'才藝', 5)
SET IDENTITY_INSERT [dbo].[SubjectCategoryName] OFF
GO

# [dbo].[Users]

In [0]:
SET IDENTITY_INSERT [dbo].[Users] ON 
INSERT [dbo].[Users] ([Id], [Account], [Password], [Name]) VALUES (1, N'Sandy', N'123', N'Sandy')
INSERT [dbo].[Users] ([Id], [Account], [Password], [Name]) VALUES (2, N'Roy', N'000', N'Roy')
INSERT [dbo].[Users] ([Id], [Account], [Password], [Name]) VALUES (3, N'Cindy', N'989', N'Cindy')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO

# [Data_Users]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Data_Users] SET  READ_WRITE 
GO